<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-center align-items-center">

    <nav class="nav-menu d-none d-lg-block">
      <ul>

        {% for item in site.data.navbar %}
          <li><a href={{ item.link }}> {{ item.name }}</a></li>
        {% endfor %}

      </ul>
    </nav>

    <div class="header-social-links">
      <a href="https://github.com/amitiuttarwar" class="github"><i class="icofont-github"></i></a>
      <a href="https://twitter.com/amizi" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="https://www.linkedin.com/in/amiti-uttarwar/" class="linkedin"><i class="icofont-linkedin"></i></a>
      <a href="https://www.instagram.com/ayyyouu" class="instagram"><i class="icofont-instagram"></i></a>
    </div>

  </div>

</header>
